<section class="product-list">
    <div class="product-list__card" *ngFor="let produto of produtos"> <!--pra carregar uma lista
      precisa utilizar uma diretiva /\, quero pegar o produto de dentro dos produtos-->
        <a routerLink="/produtos/{{ produto.id }}" class="product-list__link"> <!--quando clicar no produto da
          pagina, redireciona para a pagina do produto-->
            <img [src]="produto.imagem">
            <h2 class="product-item__name">
                {{ produto.descricao }}
            </h2>
            <p class="product-item__price">
                {{ produto.preco | currency: "BRL" }}
            </p>
            <p class="product-item__price-description">
                {{ produto.descricaoPreco }}
            </p>
            <button class="product-item__buy-button" type="button">Comprar</button>
        </a>
    </div>
</section>
